#pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 24.07rem;
}

#pokedex #pokeSuperior {
  z-index: 1;
  width: 11rem;
  position: relative;
  bottom: -7.6rem;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#pokedex #pokeInferior {
  z-index: 1;
  width: 11rem;
  position: relative;
  bottom: -7.6rem;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#pokedex #boton {
  position: relative;
  z-index: 2;
  width: 2.7rem;
  margin: 0;
  padding: 2rem 0.57rem;
  border-radius: 12rem;
  cursor: pointer;
  right: -3.6rem;
  bottom: 15.7rem;
  background-color: none;
  -webkit-transition-property: z-index;
  transition-property: z-index;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#pokedex #boton:hover {
  background: #ffa6a6;
  background: radial-gradient(circle, #ffa6a6 21%, red 100%);
  -webkit-box-shadow: 0px 0px 18px 1px #FF4747;
  box-shadow: 0px 0px 18px 1px #FF4747;
}

#pokedex #infoPantalla {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 11rem;
  bottom: 20rem;
  height: 10.5rem;
  z-index: -3;
  opacity: 0%;
  -webkit-transition-property: z-index, opacity;
  transition-property: z-index, opacity;
  -webkit-transition-duration: 1s, 1s;
          transition-duration: 1s, 1s;
  -webkit-transition-delay: 0s, 0.5s;
          transition-delay: 0s, 0.5s;
}

#pokedex #infoPantalla .fa-square-xmark {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  color: #00c4da;
  padding-right: 0.9rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

#pokedex #infoPantalla .fa-square-xmark:hover {
  color: #0096a7;
}

#pokedex #infoPantalla #textoPantalla {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 2.9rem;
  color: #0096a7;
  width: 11rem;
  text-align: center;
  cursor: pointer;
}

#pokedex #infoPantalla span {
  display: block;
  padding-top: 1.5rem;
}

#pokedex #infoPantalla #textoPantalla:hover {
  color: #00c4da;
}

#pokedex #pantalla {
  width: 11rem;
  position: relative;
  z-index: 0;
  top: -1.65rem;
  height: 9.1rem;
  -webkit-transition-property: top, height;
  transition-property: top, height;
  -webkit-transition-duration: 0.5s, 0.5s;
          transition-duration: 0.5s, 0.5s;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}
/*# sourceMappingURL=animacion.css.map */