///FUNCIONES
@mixin flex ($direccion) {
    $dir: $direccion;
    display: flex;
    flex-direction: $dir;
}

#pokedex {
    @include flex(column);
    align-items: stretch;
    height: 24.07rem;

    #pokeSuperior {
        z-index: 1;
        width: 11rem;
        position: relative;
        bottom: -7.6rem;
        transition-property: bottom;
        transition-duration: 0.5s;
        transition-delay: 0s;
    }

    #pokeInferior {
        z-index: 1;
        width: 11rem;
        position: relative;
        bottom: -7.6rem;
        transition-property: bottom;
        transition-duration: 0.5s;
        transition-delay: 0s;
    }

    #boton {
        position: relative;
        z-index: 2;
        width: 2.7rem;
        margin: 0;
        padding: 2rem 0.57rem;
        border-radius: 12rem;
        cursor: pointer;
        right: -3.6rem;
        bottom: 15.7rem;
        background-color: none;
        transition-property: z-index;
        transition-duration: 0s;
        transition-delay: 0s;
    }
        #boton:hover {
            background: rgb(255,166,166);
            background: radial-gradient(circle, rgba(255,166,166,1) 21%, rgba(255,0,0,1) 100%);
            -webkit-box-shadow: 0px 0px 18px 1px #FF4747; 
            box-shadow: 0px 0px 18px 1px #FF4747;
        }

    #infoPantalla {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 11rem;
        bottom: 20rem;
        height: 10.5rem;
        z-index: -3;
        opacity: 0%;
        transition-property: z-index, opacity;
        transition-duration: 1s, 1s;
        transition-delay: 0s, 0.5s;

        .fa-square-xmark {
            align-self: flex-end;
            font-size: 1rem;
            color: #00c4da;
            padding-right: 0.9rem;
            padding-top: 0.5rem;
            cursor: pointer;
        }
            .fa-square-xmark:hover {
                color: #0096a7;
            }

        #textoPantalla {
            font-family: 'Press Start 2P', cursive;
            font-size: 0.8rem;
            margin: 0;
            padding-top: 2.9rem;
            color: #0096a7;
            width: 11rem;
            text-align: center;
            cursor: pointer;
        }
            span {
                display: block;
                padding-top: 1.5rem;
            }
            #textoPantalla:hover {
                color: #00c4da;
            }
    }

    #pantalla {
        width: 11rem;
        position: relative;
        z-index: 0;
        top: -1.65rem;
        height: 9.1rem;
        transition-property: top, height;
        transition-duration: 0.5s, 0.5s;
        transition-delay: 0s, 0s;
    }
}